@font-face {
  src: local("AmaticSC"), url(./AmaticSC-Regular.ttf);
  font-family: 'loxx';
  font-display: swap;
}
@font-face {
  src: local("YanoneKaffeesatz"), url(./YanoneKaffeesatz-Regular.ttf);
  font-family: 'lox';
  font-display: swap;
}
@font-face {
  src: local("Oswald"), url(./Oswald-Regular.ttf);
  font-family: 'megaloh';
  font-display: swap;
}
